@media (max-width:768px) {}

@media (max-width:576px) {
    .flex-container1 .flex-item {
        width: 100%;
    }

    .flex-item1 {
        width: 100%;
        background-color: darkorange;
    }

    .flex-item2 {
        width: 100%;
    }
}